*{
    padding: 0%;
    margin: 0%;
    background-color:black;
    color:white;
}
#sname{
    text-align: center;
    display: flex;
    justify-content: center;
    font-weight: 900px;
    font-size: 200px;

}
#logo{
    position: absolute;
    padding-left: 130px;
    z-index: 1;

}
#qs{
    padding-top: 30px;
    position: absolute;
    padding-left: 800px;
}
#nms{
    padding-bottom: 450px;
    padding-top: 300px;
}
.navs{
    height: 700px;
    /* width: 100%; */
    background-color: white;
    display: flex;
    justify-content: space-around;

}
.cds{
    z-index: 1;
    
    padding-left: 30px;
    height: 500px;
    display: flex;
    /* position: absolute; */
    background-color: black;
    width: 500px;
}
#nm{
    padding-top: 100px;
    text-align: center;
    font-style: normal;
}